<div class="admin-table">
    <div class="top">
        <h3>{{ table.NAME }}</h3>
        <a href="{{ download_link }}" target="_blank" download class="right btn--blue">Скачать CSV файл</a>
    </div>
    <table class="preview">
        <thead>
        <tr>
            {% for col in table.HEADER %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in table.ROWS %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>