# intellij idea
.idea/

# bitrix
/public/bitrix/*
/public/upload/

# composer
/public/local/vendor/

node_modules/
.sass-cache/

# ansible
*.retry
vault_pass.txt

/public/local/out/
/public/local/reports/
/public/local/templates/*/build/
/public/local/e2e-tests/screenshots/

*.log

# email module

/public/smartsubscribes/

# project-specific

/public/local/mockup/css/main.css
/public/local/mockup/css/main.css.map
/public/local/mockup/dist
