# intellij idea
.idea/

# bitrix
/public/bitrix/*
/public/upload/

# composer
/public/local/vendor/

# phpdotenv
.env

node_modules/
.sass-cache/

# ansible
*.retry
vault_pass.txt

/public/local/out/
