<nav class="main_menu">
    <ul class="wrap">
        {% for item in result %}
            <li>
                <a class="{{ item.SELECTED ? 'active' }}" href="{{ item.LINK }}">{{ item.TEXT }}</a>
                {#<ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>#}
            </li>
        {% endfor %}
    </ul>
</nav>