{# TODO main menu #}
<nav class="main_menu">
    <ul class="wrap">
        <li><a class="active" href="#">Премия</a>
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </li>
        <li><a href="#">Участие</a></li>
        <li><a href="#">Партнеры</a>
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </li>
        <li><a href="#">Пресс-центр</a></li>
        <li><a href="#">Мероприятие</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
</nav>