$orange: #f9690e;
$red: #f64747;
$fiolet: #8d5b7b;
$green: #2ecc71;
$gray: #bdc3c7;
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  background: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  min-width: 320px;
  overflow-x: hidden;
}

a,
button,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #000;
}

.wrap {
  max-width: 1244px;
  position: relative;
  margin: 0 auto;
  height: 100%;
  @media only screen and (max-width: 1264px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.btn {
  display: inline-block;
  vertical-align: top;
  background: $gray;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  transition: .3s;
  cursor: pointer;
  &:hover {
    background: $orange;
    color: #FFF;
  }
  &.btn--fiolet {
    background: $fiolet;
    color: #FFF;
  }
  &.btn--green {
    background: $green;
    color: #FFF;
  }
  &.btn--red {
    background: $red;
    color: #FFF;
  }
}

h1 {
  font-size: 82px;
  line-height: 1.2;
  font-weight: 600;
  @media only screen and (max-width: 1023px) {
    font-size: 60px;
  }
  @media only screen and (max-width:767px) {
    font-size: 48px;
  }
}

h2 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 600;
  @media only screen and (max-width: 1023px) {
    font-size: 40px;
  }
  @media only screen and (max-width:767px) {
    font-size: 22px;
  }
  .orange {
    color: $orange;
  }
}

h3 {
  font-size: 24px;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-weight: 600;
  @media only screen and (max-width: 767px) {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.opacity_bars {
  width: 40px;
  @media only screen and (min-width: 1280px) {
    display: none;
  }
}

.hidden_menu {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  padding: 10px;
  z-index: 9;
  transition: .3s;
  transform: translateX(-100%);
  &.open {
    transform: translateX(0);
  }
  .top {
    text-align: right;
    padding-top: 30px;
    margin-bottom: 50px;
    a {
      font-size: 16px;
    }
  }
  ul {
    margin-bottom: 20px;
    li {
      &:nth-child(1) {
        background: url('../images/ico_menu_1.png')no-repeat left center;
      }
      &:nth-child(2) {
        background: url('../images/ico_menu_2.png')no-repeat left center;
      }
      &:nth-child(3) {
        background: url('../images/ico_menu_3.png')no-repeat left center;
      }
      &:nth-child(4) {
        background: url('../images/ico_menu_4.png')no-repeat left center;
      }
      &:nth-child(5) {
        background: url('../images/ico_menu_5.png')no-repeat left center;
      }
      &:nth-child(6) {
        background: url('../images/ico_menu_6.png')no-repeat left center;
      }
      &:nth-child(7) {
        background: url('../images/ico_menu_7.png')no-repeat left center;
      }
      a {
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        color: #7e7e7e;
        padding-left: 50px;
        span {
          display: block;
          height: 42px;
          line-height: 42px;
          border-bottom: 1px solid #c8c8c8;
        }
      }
    }
  }
  .bottom {
    text-align: center;
    a {
      display: inline-block;
      vertical-align: top;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      line-height: 38px;
      background: $gray;
      transition: .3s;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
      &.vk {
        &:hover {
          background: #3b5998;
          i {
            color: #fff;
          }
        }
      }
      &.facebook {
        &:hover {
          background: #3b5998;
          i {
            color: #fff;
          }
        }
      }
      &.instagram {
        &:hover {
          background: #f9690e;
          i {
            color: #fff;
          }
        }
      }
      i {
        color: #FFF;
        font-size: 20px;
        transition: .3s;
      }
    }
  }
}

.hamburger {
  width: 40px;
  cursor: pointer;
  position: fixed;
  top: 35px;
  left: 10px;
  z-index: 11;
  @media only screen and (min-width: 1279px) {
    display: none;
  }
  &.open {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 11px;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 0px;
      }
    }
  }
  @media only screen and (min-width:1681px) {
    display: none;
  }
  span {
    display: block;
    height: 6px;
    background: $orange;
    margin-bottom: 5px;
    position: relative;
    transition: .3s;
  }
}

.logo_mobile {
  display: block;
  width: 80px;
  margin-left: 130px;
  @media only screen and (min-width: 1280px) {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    margin-left: 40px;
  }
  img {
    display: block;
    width: 100%;
  }
}

.header {
  background: #fff;
  height: 200px;
  padding: 0 0 50px;
  z-index: 7;
  &.scroll {
    display: none;
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    padding: 0;
    border-bottom: 1px solid $gray;
    .wrap {
      align-items: center;
    }
    .social_icons {
      margin-bottom: 0;
    }
    .btn {
      display: none;
    }
    .tel {
      margin-bottom: 0;
    }
    .lang_block {
      display: none;
    }
  }
  @media only screen and (max-width: 1279px) {
    display: block;
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    padding: 0;
    border-bottom: 1px solid $gray;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media only screen and (max-width: 1279px) {
      align-items: center;
    }
  }
  .left {
    text-align: center;
    @media only screen and (max-width: 1279px) {
      display: none;
    }
  }
  .right {
    text-align: right;
  }
  .social_icons {
    margin-bottom: 25px;
    a {
      display: inline-block;
      vertical-align: top;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      line-height: 38px;
      background: $gray;
      transition: .3s;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
      &.vk {
        &:hover {
          background: #3b5998;
          i {
            color: #fff;
          }
        }
      }
      &.facebook {
        &:hover {
          background: #3b5998;
          i {
            color: #fff;
          }
        }
      }
      &.instagram {
        &:hover {
          background: #f9690e;
          i {
            color: #fff;
          }
        }
      }
      i {
        color: #FFF;
        font-size: 20px;
        transition: .3s;
      }
    }
  }
  .btn {
    &:hover {
      background: $orange;
    }
  }
  .tel {
    margin-bottom: 35px;
    @media only screen and (max-width: 1279px) {
      display: none;
    }
    a {
      font-size: 22px;
    }
  }
  .lang_block {
    &>div {
      display: inline-block;
      vertical-align: middle;
    }
    .blcok_choose_lang {
      position: relative;
    }
    .flag {
      margin-right: 5px;
      padding-top: 6px;
      @media only screen and (max-width: 767px) {
        display: none;
      }
      img {
        display: block;
        height: 15px;
        width: 20px;
      }
    }
    .lang {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      cursor: pointer;
      text-align: center;
      background: $gray;
      border-radius: 50px;
      height: 45px;
      line-height: 45px;
      width: 140px;
      z-index: 2;
      transition: .3s;
      -webkit-user-select: none;
      user-select: none;
      @media only screen and (max-width: 767px) {
        width: 80px;
        padding-left: 20px;
        text-align: left;
      }
      &.open {
        background: $orange;
        color: #FFF;
        &:before {
          border-top: 8px solid #fff;
        }
      }
      &:hover {
        background: $orange;
        color: #FFF;
      }
      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 18px;
        right: 15px;
        border: 6px solid rgba(0, 0, 0, 0);
        border-top: 8px solid #fff;
        transition: .3s;
      }
    }
    .dd_choose_lang {
      display: none;
      position: absolute;
      z-index: 1;
      width: 140px;
      top: 15px;
      border: 1px solid $gray;
      padding: 30px 15px 0;
      background: #FFF;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: left;
      @media only screen and (max-width: 767px) {
        width: 80px;
        padding: 30px 8px 0;
      }
      a {
        display: block;
        width: 100%;
        line-height: 40px;
        border-bottom: 1px solid $gray;
        transition: .3s;
        &:last-child {
          border: none;
        }
        &:hover {
          color: $orange;
        }
        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }
}

.main_menu {
  margin-bottom: -74px;
  @media only screen and (max-width: 1279px) {
    margin: 0;
    display: none;
  }
  &.scroll {
    margin-bottom: 0;
    padding-left: 35px;
    .logo {
      top: 0;
      a {
        width: 94px;
        height: 74px;
        background: url('../images/logo2.png')no-repeat center center;
      }
      &:before {
        display: none;
      }
    }
  }
  ul {
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 20px;
        text-transform: uppercase;
      }
      .active {
        position: relative;
        &:before {
          display: block;
          position: absolute;
          content: '';
          width: 84px;
          height: 3px;
          top: 35px;
          left: 50%;
          margin-left: -42px;
          background: $orange;
        }
      }
      &.logo {
        margin: 0 15px 0 0;
        position: relative;
        top: -8px;
        a {
          display: block;
          position: relative;
          z-index: 2;
          width: 193px;
          height: 190px;
          background: url('../images/logo.png')no-repeat center center;
        }
        &:before {
          display: block;
          position: absolute;
          content: '';
          width: 193px;
          height: 193px;
          top: 10px;
          left: 0px;
          z-index: 1;
          border-radius: 50%;
          background: #fff;
        }
      }
    }
  }
}

.content {
  @media only screen and (max-width: 1279px) {
    padding-top: 100px;
  }
  &.scroll {
    padding-top: 200px;
  }
}

.bottom_line {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #FFF;
  height: 80px;
  z-index: 7;
  text-transform: uppercase;
  border-top: 1px solid $gray;
  @media only screen and (max-width: 767px) {
    display: none;
  }
  &.scroll {
    bottom: 25px;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .write_letter {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding-left: 65px;
    cursor: pointer;
    width: 300px;
    transition: .3s;
    background: url('../images/envelope.png')no-repeat left center;
    @media only screen and (max-width: 1023px) {
      width: 60px;
      font-size: 0;
    }
    &:hover {
      color: $orange;
      background: url('../images/envelope_1.png')no-repeat left center;
    }
  }
  .form_order {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding-right: 55px;
    cursor: pointer;
    width: 300px;
    transition: .3s;
    background: url('../images/paper.png')no-repeat right center;
    @media only screen and (max-width: 1023px) {
      width: 60px;
      font-size: 0;
    }
    &:hover {
      color: $orange;
      background: url('../images/paper_1.png')no-repeat right center;
    }
  }
  .btn {
    &:hover {
      background: $orange;
    }
  }
}

.slick-slide {
  outline: none !important;
}

.dots {
  width: 100%;
  position: absolute;
  bottom: 40px;
  z-index: 1;
  text-align: center;
  @media only screen and (min-width: 1279px) {
    display: none;
  }
  @media only screen and (max-width:400px) {
    bottom: 20px;
  }
  ul {
    li {
      display: inline-block;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      &.slick-active {
        button {
          background: $orange;
        }
      }
      button {
        display: block;
        width: 12px;
        height: 12px;
        text-indent: -9999px;
        border-radius: 50%;
        background: #FFF;
        transition: .3s;
      }
    }
  }
}

.wrap_slider {
  position: relative;
  .wrap_arrows {
    position: absolute;
    width: 1240px;
    height: 100%;
    left: 50%;
    top: 0;
    margin-left: -620px;
    @media only screen and (max-width: 1279px) {
      display: none;
    }
    .arrows {
      display: block;
      width: 58px;
      height: 59px;
      z-index: 1;
      position: absolute;
      top: 50%;
      margin-top: -29px;
      cursor: pointer;
    }
    .prev {
      background: url('../images/left.png')no-repeat center center;
    }
    .next {
      right: 0;
      background: url('../images/right.png')no-repeat center center;
    }
  }
  .slide {
    height: calc(100vh - 200px);
    background-size: cover !important;
    text-align: center;
    position: relative;
    font-size: 0;
    @media only screen and (max-width: 1279px) {
      height: calc(100vh - 175px);
    }
    @media only screen and (max-width: 767px) {
      height: calc(100vh - 100px);
    }
    &:before {
      content: '';
      display: inline-block;
      min-height: inherit;
      height: 100%;
      vertical-align: middle;
    }
    .block {
      width: 100%;
      max-width: 870px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -50px;
      color: #FFF;
      h1 {
        margin-bottom: 30px;
        @media only screen and (max-width: 1680px) {
          font-size: 60px;
          margin-bottom: 20px;
        }
        @media only screen and (max-width:767px) {
          font-size: 45px;
          margin-bottom: 15px;
        }
      }
      h2 {
        margin-bottom: 40px;
        @media only screen and (max-width: 1680px) {
          font-size: 40px;
          margin-bottom: 20px;
        }
        @media only screen and (max-width:767px) {
          font-size: 30px;
          margin-bottom: 15px;
        }
      }
      .next_h1 {
        margin-bottom: 100px;
        position: relative;
        font-size: 36px;
        @media only screen and (max-width: 1660px) {
          font-size: 28px;
          margin-bottom: 70px;
        }
        @media only screen and (max-width: 1660px) {
          font-size: 22px;
          margin-bottom: 50px;
        }
        &:before {
          display: block;
          position: absolute;
          content: '';
          width: 100px;
          height: 3px;
          top: 90px;
          left: 50%;
          margin-left: -50px;
          background: $orange;
          @media only screen and (max-width: 1680px) {
            top: 60px;
          }
          @media only screen and (max-width: 767px) {
            top: 45px;
          }
        }
      }
      .next_h2 {
        font-size: 30px;
        @media only screen and (max-width: 1660px) {
          font-size: 24px;
        }
        @media only screen and (max-width: 767px) {
          font-size: 20px;
        }
      }
    }
    &.slide--inner {
      color: #FFF;
      h1 {
        font-size: 82px;
        text-transform: uppercase;
        margin-bottom: 0;
        @media only screen and (max-width: 767px) {
          font-size: 60px;
        }
        @media only screen and (max-width:400px) {
          font-size: 42px;
        }
      }
      .line {
        display: block;
        width: 110px;
        height: 3px;
        background: #FFF;
        margin: 45px auto 35px;
      }
      h2 {
        font-weight: 400;
        font-size: 40px;
        line-height: 1.2;
        text-transform: none;
        @media only screen and (max-width: 767px) {
          font-size: 30px;
        }
        @media only screen and (max-width:400px) {
          font-size: 22px;
        }
      }
    }
  }
}

.grid {
  margin: 0 -12px;
  overflow: hidden;
  font-size: 0;
}

.col_3 {
  margin: 0 6px;
  display: inline-block;
  vertical-align: top;
  width: calc(33.333333% - 12px);
}

.col_4 {
  margin: 0 6px;
  display: inline-block;
  vertical-align: top;
  width: calc(25% - 12px);
  margin-bottom: 12px;
  @media only screen and (max-width: 1023px) {
    width: calc(50% - 12px);
  }
  @media only screen and (max-width:580px) {
    width: calc(100% - 12px);
  }
}

.col_5 {
  margin: 0 6px 12px;
  display: inline-block;
  vertical-align: top;
  width: calc(20% - 12px);
  @media only screen and (max-width: 767px) {
    width: calc(50% - 12px);
  }
}

.col_6 {
  margin: 0 6px;
  display: inline-block;
  vertical-align: top;
  width: calc(16.666666% - 12px);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  .block {
    position: relative;
    background: #FFF;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .2);
  }
  .close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
  }
}

.rental_offers {
  margin-bottom: 55px;
  .top {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 950px;
    margin: 0 auto 15px;
    .big_text {
      font-size: 193px;
      color: #f4f4f4;
      font-weight: 800;
      @media only screen and (max-width: 1023px) {
        font-size: 0px;
      }
    }
    .block {
      position: absolute;
      top: 35px;
      left: 0;
      width: 100%;
      @media only screen and (max-width: 1023px) {
        display: block;
        position: relative;
        top: 0;
        margin-top: 35px;
        margin-bottom: 30px;
      }
      p {
        font-size: 22px;
        line-height: 1.2;
        font-weight: 400;
        @media only screen and (max-width: 1023px) {
          font-size: 18px;
        }
      }
    }
  }
  .grid {
    @media only screen and (max-width: 1680px) {
      padding: 0 30px;
    }
    @media only screen and (max-width:1023px) {
      padding: 0;
    }
    @media only screen and (max-width:767px) {
      padding: 0 100px;
    }
    @media only screen and (max-width:520px) {
      padding: 0;
    }
  }
  .item {
    overflow: hidden;
    background: #ececec;
    height: auto;
    padding-bottom: 30px;
    @media only screen and (max-width: 767px) {
      width: calc(100% - 12px);
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .img {
      position: relative;
      img {
        width: 100%;
        min-height: 100%;
      }
      .text {
        position: absolute;
        left: 0;
        bottom: 30px;
        text-align: center;
        width: 100%;
        color: #FFF;
        font-size: 25px;
        padding-bottom: 20px;
        @media only screen and (max-width: 1680px) {
          font-size: 20px;
          margin-bottom: 0px;
          margin-top: 20px;
        }
        @media only screen and (max-width:1200px) {
          font-size: 16px;
          margin-bottom: -10px;
        }
        @media only screen and (max-width:1023px) {
          margin-bottom: -20px;
        }
        @media only screen and (max-width:767px) {
          margin-bottom: -10px;
        }
        &:before {
          display: block;
          position: absolute;
          content: '';
          width: 114px;
          height: 3px;
          bottom: 0px;
          left: 50%;
          margin-left: -57px;
          background: #FFF;
          @media only screen and (max-width: 1200px) {
            height: 2px;
          }
          @media only screen and (max-width:1023px) {
            display: none;
          }
        }
      }
    }
    .info {
      padding: 25px 15px 20px;
      @media only screen and (max-width: 767px) {
        padding-bottom: 0;
      }
      p {
        margin-bottom: 7px;
        &.text {
          font-size: 17px;
          height: 130px;
          line-height: 1.2;
        }
        span {
          font-size: 17px;
          line-height: 1.2;
          @media only screen and (max-width: 1680px) {
            font-size: 16px;
          }
          @media only screen and (max-width:1200px) {
            font-size: 14px;
          }
          &:nth-child(2) {
            font-weight: 400;
            margin-left: 5px;
          }
        }
      }
    }
    .bottom {
      text-align: center;
    }
    .btn {
      font-size: 20px;
      text-transform: none;
      @media only screen and (max-width: 1680px) {
        font-size: 18px;
      }
      @media only screen and (max-width:1200px) {
        font-size: 16px;
      }
      @media only screen and (max-width:767px) {
        display: none;
      }
    }
  }
}

.slider_rent {
  .slide {
    strong {
      text-align: center;
      color: #787878;
      font-size: 18px;
      margin-bottom: 45px;
      font-weight: 400;
    }
    .img {
      height: 100%;
      max-height: 345px;
      margin-bottom: 50px;
      img {
        width: 100%;
        display: block;
      }
    }
  }
}

.modal_rent {
  .block {
    width: 1256px;
    left: 50%;
    margin-left: -629px;
    top: 50%;
    margin-top: -270px;
    height: 100%;
    max-height: 550px;
    height: auto;
    padding: 30px 60px 10px;
    @media only screen and (max-width: 1256px) {
      width: 100%;
      left: 0;
      margin-left: 0;
      padding: 20px 40px 10px;
    }
    .close {
      width: 23px;
      height: 23px;
      background: url('../images/close.png')no-repeat center center;
    }
  }
  .bottom {
    text-align: center;
    display: inline-block;
    width: 100%;
    .wrap_arrows {
      display: inline-block;
      .arrows {
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        transition: .3s;
        height: 35px;
        width: 35px;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
      }
      .prev {
        background: $gray url('../images/prev.png')no-repeat center center;
        margin-right: 5px;
        &:hover {
          background: $orange url('../images/prev.png')no-repeat center center;
        }
      }
      .next {
        background: $gray url('../images/next.png')no-repeat center center;
        &:hover {
          background: $orange url('../images/next.png')no-repeat center center;
        }
      }
    }
    .numbers {
      float: right;
      font-size: 18px;
      color: #787878;
      padding-top: 10px;
      .current {}
      .all {}
    }
  }
}

.service {
  background: url('../images/pic_3.jpg')no-repeat center center;
  background-size: cover;
  padding: 45px 0 0;
  text-align: center;
  color: #FFF;
  margin-bottom: 55px;
  height: calc(100vh - 175px);
  @media only screen and (max-width: 767px) {
    height: calc(100vh - 100px);
  }
  @media only screen and (max-width:767px) {
    height: auto;
    padding-bottom: 15px;
  }
  strong {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 160px;
    @media only screen and (max-width: 1680px) {
      margin-bottom: 100px;
    }
    @media only screen and (max-width:767px) {
      margin-bottom: 50px;
    }
  }
  .grid {
    @media only screen and (max-width: 1680px) {
      padding: 0 30px;
    }
    @media only screen and (max-width:1023px) {
      padding: 0;
    }
  }
  .item {
    @media only screen and (max-width: 1680px) {
      padding: 0 30px;
    }
    @media only screen and (max-width:1023px) {
      padding: 0 10px;
    }
    @media only screen and (max-width:768px) {
      width: calc(33.333333% - 12px);
      margin-bottom: 30px;
    }
    @media only screen and (max-width:500px) {
      width: calc(50% - 12px);
    }
    &:hover {
      .ico {
        &>img {
          opacity: 0;
        }
        .hidden {
          img {
            opacity: 1;
          }
        }
      }
      .text {
        &:before {
          background: $orange;
        }
      }
    }
    .ico {
      position: relative;
      height: 140px;
      overflow: hidden;
      margin-bottom: 20px;
      @media only screen and (max-width: 1024px) {
        height: 100px;
      }
      img {
        max-width: 100%;
        display: block;
        max-height: 140px;
        margin: 0 auto;
        transition: .6s;
        @media only screen and (max-width: 1024px) {
          max-height: 100px;
        }
      }
      .hidden {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {
          opacity: 0;
          transition: .6s;
          max-width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .text {
      font-size: 20px;
      line-height: 1.2;
      padding-top: 30px;
      position: relative;
      color: #FFF;
      @media only screen and (max-width: 1680px) {
        font-size: 18px;
      }
      @media only screen and (max-width:1200px) {
        font-size: 14px;
      }
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 64px;
        height: 3px;
        top: 0px;
        left: 50%;
        margin-left: -32px;
        background: #FFF;
        transition: .3s;
      }
    }
  }
}

.advantages {
  text-align: center;
  box-shadow: 0 -270px 0 0 #dadfe1 inset;
  @media only screen and (max-width: 1023px) {
    box-shadow: none;
  }
  .block {
    font-size: 0;
    .item {
      display: inline-block;
      vertical-align: top;
      font-size: 18px;
      width: 25%;
      @media only screen and (max-width: 1023px) {
        width: 50%;
        margin-bottom: 30px;
      }
      @media only screen and (max-width:767px) {
        width: 100%;
      }
      &:hover {
        .ico {
          background: $fiolet;
          &>img {
            opacity: 0;
          }
          .hidden {
            img {
              opacity: 1;
            }
          }
        }
      }
      &:nth-child(1) {
        .bottom {
          .block {
            border-left: 1px solid #FFF;
            @media only screen and (max-width: 1023px) {
              border-left: none;
            }
          }
        }
      }
      &:last-child {
        @media only screen and (max-width: 1023px) {
          .bottom {
            .block {
              border-right: none;
            }
          }
        }
      }
      .ico {
        position: relative;
        height: 150px;
        line-height: 150px;
        width: 150px;
        border-radius: 50%;
        background: #e2e6e7;
        transition: .6s;
        margin: 0 auto 20px;
        &>img {
          transition: .6s;
        }
        .hidden {
          position: absolute;
          width: inherit;
          height: inherit;
          line-height: inherit;
          top: 0;
          left: 0;
          img {
            transition: .6s;
            opacity: 0;
          }
        }
      }
      .text {
        font-size: 20px;
        line-height: 1.2;
        height: 75px;
        position: relative;
        color: $fiolet;
        margin-bottom: 25px;
        padding: 0 30px;
        @media only screen and (max-width: 1200px) {
          font-size: 18px;
        }
        @media only screen and (max-width:1023px) {
          height: 40px;
        }
        &:before {
          display: block;
          position: absolute;
          content: '';
          width: 64px;
          height: 3px;
          top: 100%;
          left: 50%;
          margin-left: -32px;
          background: $fiolet;
          @media only screen and (max-width: 767px) {
            display: none;
          }
        }
      }
      .info {
        font-size: 18px;
        line-height: 1.2;
        display: block;
        min-height: 130px;
        padding: 0 20px;
        font-weight: 400;
        @media only screen and (max-width: 1200px) {
          font-size: 16px;
        }
        @media only screen and (max-width:1023px) {
          min-height: 80px;
        }
      }
      .bottom {
        padding: 30px 0 0;
        background: #dadfe1;
        text-align: left;
        height: 270px;
        @media only screen and (max-width: 1023px) {
          height: auto;
          padding-bottom: 30px;
        }
        .block {
          height: 190px;
          width: 100%;
          border-right: 1px solid #fff;
          padding: 10px 25px 0;
          p {
            height: 65px;
            font-size: 18px;
            font-weight: 400;
            padding-top: 2px;
            padding-left: 40px;
            line-height: 1.2;
            min-height: 24px;
            background: url('../images/check.png')no-repeat left top;
            @media only screen and (max-width: 1200px) {
              font-size: 14px;
              padding-top: 4px;
            }
            span {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.map {
  height: calc(100vh - 125px);
  position: relative;
  @media only screen and (max-width: 767px) {
    height: calc(100vh - 100px);
  }
  iframe {
    display: block;
    height: inherit !important;
    width: 100% !important;
  }
  .buble {
    position: absolute;
    max-width: 460px;
    top: 10%;
    right: 10%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px;
    color: #FFF;
    @media only screen and (max-width: 1023px) {
      padding: 15px;
    }
    @media only screen and (max-width:767px) {
      max-width: 90%;
      top: 45px;
      right: 5%;
    }
    strong {
      font-size: 25px;
      margin-bottom: 30px;
      text-transform: uppercase;
      z-index: 999;
      @media only screen and (max-width: 1024px) {
        font-size: 20px;
        margin-bottom: 15px;
      }
      @media only screen and (max-width:767px) {
        display: none;
      }
    }
    p {
      padding-left: 70px;
      font-size: 18px;
      line-height: 1.2;
      @media only screen and (max-width: 1023px) {
        font-size: 16px;
      }
      @media only screen and (max-width:767px) {
        font-size: 14px;
        padding-left: 30px;
      }
    }
    .plane {
      background: url('../images/plane.png')no-repeat left center;
      margin-bottom: 20px;
      min-height: 43px;
      @media only screen and (max-width: 767px) {
        background-size: 20px;
        min-height: 20px;
      }
    }
    .marker {
      text-transform: uppercase;
      line-height: 50px;
      background: url('../images/marker.png')no-repeat left center;
      @media only screen and (max-width: 767px) {
        background-size: 20px;
        min-height: 20px;
        line-height: 1;
      }
    }
  }
}

.footer {
  color: #FFF;
  font-size: 12px;
  text-align: center;
  position: relative;
  @media only screen and (max-width: 767px) {
    font-size: 9px;
  }
  p {
    line-height: 25px;
    height: 25px;
    background: #000;
  }
  a {
    color: #FFF;
  }
}

#navbar {
  position: fixed;
  top: 50%;
  margin-top: -100px;
  left: calc(50% + 650px);
  z-index: 99;
  @media only screen and (max-width: 1300px) {
    left: calc(50% + 610px);
  }
  @media only screen and (max-width:1279px) {
    display: none;
  }
  ul {
    width: 24px;
    text-align: center;
    padding-top: 70px;
    li {
      cursor: pointer;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      &.active {
        a {
          background: $orange;
        }
      }
      a {
        width: 20px;
        height: 20px;
        border: 2px solid $orange;
        list-style: none;
        display: inline-block;
        border-radius: 50px;
        transition: .3s;
      }
    }
  }
}

.achor {
  position: relative;
  top: -100px;
  &.achor--two {
    top: -100px
  }
  &.achor--three {
    top: -140px
  }
  &.achor--four {
    top: -150px;
  }
}

.anchor {
  position: relative;
  top: -150px;
}


.modal_window {
  .block {
    position: relative;
    background: #FFF;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    max-width: 480px;
    padding: 30px;
    border-radius: 20px;
    left: 50%;
    margin-left: -240px;
    top: 10%;
    @media only screen and (max-width: 480px) {
      width: 100%;
      top: 0;
      left: 0;
      margin-left: 0;
    }
  }
  .close {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url('../images/close_modal.png')no-repeat center center;
  }
  strong {
    margin-bottom: 45px;
    text-align: center;
    font-size: 25px;
  }
  input,
  textarea,
  select {
    display: block;
    width: 100%;
    border: 1px solid #bdc3c7;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 25px;
    height: 45px;
    line-height: 43px;
    padding: 0 15px;
    color: #6b6b6b;
    font-size: 22px;
    transition: .3s;
    font-weight: 400;
    &:hover,
    &:active {
      border-color: #9a9fa3;
    }
    &::placeholder {
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      color: #6b6b6b;
      transition: .3s;
    }
    &:focus::placeholder {
      color: rgba(0, 0, 0, 0);
    }
  }
  textarea {
    padding: 15px;
    line-height: 1.2;
    height: 220px;
  }
  select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #fff url('../images/select.png')no-repeat 95% center;
  }
  .people_test {
    min-height: 85px;
    text-align: center;
    margin-bottom: 25px;
  }
  .bottom {
    text-align: center;
  }
}

.metro {
  color: #FFF;
  perspective: 9999px;
  font-size: 18px;
  height: 450px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  &:before {
    display: block;
    content: '';
    padding-top: 100%;
  }
  .ico {
    height: 90px;
    img {
      width: 70px;
      height: 70px;
    }
  }
  strong {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
  }
  .line {
    display: block;
    width: 62px;
    height: 3px;
    background: #FFF;
    margin: 20px auto;
  }
  p {
    line-height: 1.3;
    font-size: 16px;
  }
  .metro_btn {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -85px;
    width: 170px;
    height: 44px;
    line-height: 40px;
    border: 2px solid #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    &:hover {
      border-color: $orange;
      color: $orange
    }
  }
}

.box1,
.box2 {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: relative;
}

.back,
.front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 25px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .4s ease-in-out;
}

.back {
  background: #adb2b6;
  color: #000;
  z-index: 10;
  transform: rotateY(-180deg);
  strong {
    margin-bottom: 20px;
  }
  .metro_btn {
    &:hover {
      color: #FFF;
      background: $orange;
    }
  }
}

.front {
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
  transform: rotateX(0deg) rotateY(0deg);
}

.metro.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.metro.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}

.price_list {
  padding-top: 65px;
  padding-bottom: 150px;
  text-align: center;
  @media only screen and (max-width: 1024px) {
    padding-bottom: 65px;
  }
  .wrap {
    max-width: 1240px;
    @media only screen and (max-width: 1280px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .sub_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    max-width: 715px;
    margin: 0 auto 65px;
    @media only screen and (max-width: 1023px) {
      font-size: 16px;
    }
  }
  .item {
    position: relative;
    background: url('../images/download1.jpg')no-repeat center center;
    background-size: contain;
    img {
      display: block;
      width: 100%;
      opacity: 1;
      transition: .15s;
    }
    p {
      font-size: 20px;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 25px;
      text-align: center;
      @media only screen and (max-width: 1150px) {
        bottom: 20px;
        font-size: 16px;
      }
      @media only screen and (max-width:1023px) {
        font-size: 14px;
        bottom: 15px;
      }
    }
    &.item--download {
      box-shadow: 2px 2px 0 0 #d7dbd8;
      p {
        bottom: 20%;
        line-height: 1.4;
        transition: .3s;
        @media only screen and (max-width: 1150px) {
          bottom: 10%;
        }
      }
      &:hover {
        p {
          color: $orange
        }
        img {
          opacity: 0;
        }
      }
    }
  }
}

.why_buy_from_us {
  background: url('../images/pic_4.jpg')no-repeat center center;
  background-size: cover;
  color: #FFF;
  padding: 65px 0 150px;
  text-align: center;
  @media only screen and (max-width: 1024px) {
    padding-bottom: 65px;
  }
  .wrap {
    max-width: 1160px;
    @media only screen and (max-width:1200px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.who_buy_from_us {
  text-align: center;
  @media only screen and (max-width:1920px) {
    padding: 85px 0 200px;
  }
  @media only screen and (max-width:1680px) {
    padding: 65px 0 150px;
  }
  @media only screen and (max-width: 1024px) {
    padding-bottom: 65px;
  }
  .wrap {
    max-width: 1240px;
    @media only screen and (max-width:1280px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .item {
    min-height: 465px;
    background: #ececec;
    .img {
      height: 230px;
      margin-bottom: 20px;
      overflow: hidden;
      img {
        display: block;
        min-width: 100%;
        min-height: 100%;
      }
    }
    .info {
      padding: 20px;
    }
    .ico {
      height: 60px;
      margin-bottom: 10px;
      img {
        height: 60px;
      }
    }
    strong {
      font-size: 20px;
      font-weight: 600;
    }
    .line {
      display: block;
      width: 62px;
      height: 3px;
      background: $fiolet;
      margin: 20px auto 5px;
    }
    p {
      font-size: 16px;
      line-height: 1.3;
    }
  }
  .col_3{
    @media only screen and (max-width:767px) {
      width: calc(100% - 12px);
      margin-bottom: 12px;
    }
  }
}