{% set user = result.arUser %}
{# TODO tmp whitespace fix, remove when breadcrumbs are done #}
<section class="bread_crumbs">
    <div class="wrap">
        <div class="inner">
            <ul>
            </ul>
        </div>
    </div>
</section>
<section class="personal_area">
    <div class="wrap">
        <div class="inner">
            <h2>Личный кабинет</h2>
        </div>
        <div class="tab_links grid">
            <div class="col col_3 tabLinks_item" data-tabLinks="contact_details">
                <div class="text">
                    <p>Контактные данные</p>
                    <span>Заполните все поля для участия в заявке</span>
                </div>
            </div>
            <div class="col col_3 tabLinks_item" data-tabLinks="application_form">
                <div class="text">
                    <p>Анкета участника компании поставщика</p>
                </div>
            </div>
            <div class="col col_3 tabLinks_item" data-tabLinks="personal_nomination">
                <div class="text">
                    <p>Анкета в персональной номинации</p>
                </div>
            </div>
        </div>
        <div class="tab_blocks">
            <div data-tabContent="contact_details">
                {% include partial('profile/contact_details.twig') %}
            </div>
            <div data-tabContent="application_form">
                {% include partial('profile/application.twig') %}
            </div>
            <div data-tabContent="personal_nomination">
                <div class="grid">
                    <div class="col col_2">333</div>
                    <div class="col col_2">333</div>
                </div>
            </div>
        </div>
    </div>
</section>