<section class="partners">
    <div class="wrap">
        <h2>Партнеры премии</h2>
        <div class="carusel">
            {% for item in result.ITEMS %}
                <div id="{{ add_editing_actions(item, template) }}">
                    <img src="{{ item.PREVIEW_PICTURE.RESIZED.src }}" alt="{{ item.NAME }}">
                </div>
            {% endfor %}
        </div>
    </div>
</section>