{% set user = result.arUser %}
{# TODO tmp whitespace fix, remove when breadcrumbs are done #}
<section class="bread_crumbs">
    <div class="wrap">
        <div class="inner">
            <ul>
            </ul>
        </div>
    </div>
</section>
<div class="wrap expert-profile">
  <div class="inner">
    <h2>Личный кабинет</h2>
  </div>
  <div class="grid mb">
    {# TODO refactor manual showing/activation of tabs #}
    <div class="col col_2 tabLinks_item active" data-tabLinks="companies">
      <div class="text">
        <p>Анкеты компаний поставщиков</p>
      </div>
    </div>
    <div class="col col_2 tabLinks_item" data-tabLinks="personal">
      <div class="text">
        <p>Анкеты в персональной номинации</p>
      </div>
    </div>
  </div>
  <div class="tab_blocks">
    <div data-tabContent="companies" style="display: block;">
      <div class="grid">
        <div class="col col_2">
          <h4 class="tab_title">Выберите номинацию компаний-поставщиков</h4>
        </div>
      </div>
      <div class="grid">
        <div class="col col_3 tabLinks_item tabLinks_item--small active" data-tabLinks="small-business">
          <div class="text">
            <span>Лучший поставщик в категории «Малый и средний бизнес»</span>
          </div>
        </div>
        <div class="col col_3 tabLinks_item tabLinks_item--small" data-tabLinks="breakthrough">
          <div class="text">
            <span>Прорыв года</span>
          </div>
        </div>
        <div class="col col_3 tabLinks_item tabLinks_item--small" data-tabLinks="etp">
          <div class="text">
            <span>Профессионал ЭТП</span>
          </div>
        </div>
        <div class="col col_3 tabLinks_item tabLinks_item--small" data-tabLinks="import-substitution">
          <div class="text">
            <span>Лидер импортозамещения</span>
          </div>
        </div>
        <div class="col col_3 tabLinks_item tabLinks_item--small" data-tabLinks="sales-innovation">
          <div class="text">
            <span>Инновации в продажах</span>
          </div>
        </div>
        <div class="col col_3 tabLinks_item tabLinks_item--small" data-tabLinks="exporter">
          <div class="text">
            <span>Экспортер года</span>
          </div>
        </div>
      </div>
      <div class="tab_blocks tab_blocks--personal_area">
        <div data-tabContent="small-business" style="display: block;">
          {% include partial('profile/expert/nomination_tab.twig') with {iblock_key: 'SMALL_BUSINESS'} %}
        </div>
        <div data-tabContent="breakthrough">
          {% include partial('profile/expert/nomination_tab.twig') with {iblock_key: 'BREAKTHROUGH'} %}
        </div>
        <div data-tabContent="etp">
          {% include partial('profile/expert/nomination_tab.twig') with {iblock_key: 'ETP'} %}
        </div>
        <div data-tabContent="import-substitution">
          {% include partial('profile/expert/nomination_tab.twig') with {iblock_key: 'IMPORT_SUBSTITUTION'} %}
        </div>
        <div data-tabContent="sales-innovation">
          {% include partial('profile/expert/nomination_tab.twig') with {iblock_key: 'SALES_INNOVATION'} %}
        </div>
        <div data-tabContent="exporter">
          {% include partial('profile/expert/nomination_tab.twig') with {iblock_key: 'EXPORTER'} %}
        </div>
      </div>
    </div>
    <div data-tabContent="personal">
      <div class="grid">
        <div class="col col_2">
          <h4 class="tab_title">Выберите персональную номинацию</h4>
        </div>
      </div>
      <div class="grid">
        <div class="col col_2 tabLinks_item tabLinks_item--small active" data-tabLinks="personal-sales">
          <div class="text">
            <span>«Профессионал продаж» (Коммерческий директор / Директор по продажам)</span>
          </div>
        </div>
        <div class="col col_2 tabLinks_item tabLinks_item--small" data-tabLinks="law">
          <div class="text">
            <span>«Мастер защиты интересов поставщика» (Руководитель юридического департамента)</span>
          </div>
        </div>
      </div>
      <div class="tab_blocks tab_blocks--personal_area">
        <div data-tabContent="personal-sales" style="display: block;">
          {% include partial('profile/expert/nomination_tab.twig') with {iblock_key: 'SALES'} %}
        </div>
        <div data-tabContent="law">
          {% include partial('profile/expert/nomination_tab.twig') with {iblock_key: 'LAW'} %}
        </div>
      </div>

    </div>
  </div>
</div>