{% extends layout('base.twig') %}

{% block page %}
    <section class="error_section">
        <div class="wrap">
            <div class="edited_block">
                {{ parent() }}
            </div>
        </div>
    </section>
{% endblock %}
