{% extends layout('base.twig') %}

{% block pagination_items %}
    <li>
        <a href="#two"></a>
    </li>
    <li>
        <a href="#three"></a>
    </li>
    <li>
        <a href="#four"></a>
    </li>
    <li>
        <a href="#five"></a>
    </li>
{% endblock %}

{% block modals %}
    {{ parent() }}
    <div class="modal" id="news_modal">
        <div class="block">
            <span class="close"></span>
            {# TODO refactor #}
            {# content is inserted with js api #}
            <div class="wrap_news_content">
                <div class="info">
                    <p class="date"></p>
                    <p class="title"></p>
                    <div class="text">
                        Загрузка...
                    </div>
                </div>
                <div class="pictures">
                    <div class="left_video">
                    </div>
                    <div class="left_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
