{% extends layout('base.twig') %}

{% block pagination_items %}
    <li>
        <a href="#plan"></a>
    </li>
    <li>
        <a href="#two"></a>
    </li>
    <li>
        <a href="#three"></a>
    </li>
    <li>
        <a href="#four"></a>
    </li>
{% endblock %}
