{% extends layout('base.twig') %}

{% block pagination_items %}
    <li>
        <a href="#plan"></a>
    </li>
    <li>
        <a href="#two"></a>
    </li>
    <li>
        <a href="#three"></a>
    </li>
    <li>
        <a href="#four"></a>
    </li>
{% endblock %}

{% block footer_right_button %}
    <span class="form_order" data-modal="{{ form_specs.rent.name }}">{{ form_specs.rent.title }}</span>
{% endblock %}

{% block page_menu_items %}
    <li><a href="javascript:void(0)"><span data-modal="{{ form_specs.rent.name }}">{{ form_specs.rent.title }}</span></a></li>
{% endblock %}