{% for input in result.APPLICATION.INPUTS[iblock_key] %}
    <label class="label label_textarea{{ input.VALUE ? ' focus' }}">
        <span class="placeholder">{{ input.LABEL }}</span>
        <textarea name="{{ input.NAME }}" rows="1" maxlength="15000">{{ input.VALUE }}</textarea>
        <span class="chars"></span>
    </label>
{% endfor %}
{% include partial('profile/application/add_file.twig') %}
