<label class="label label_textarea">
    <span class="placeholder">Изменение количества контактов YOY (2016 к 2015)</span>
    <textarea rows="1" maxlength="15000"></textarea>
    <span class="chars"></span>
</label>
<label class="label label_textarea">
    <span class="placeholder">Подтверждение статуса МСП (скан выписки из Единого реестра субъектов малого и среднего предпринимательства)</span>
    <textarea rows="1" maxlength="15000"></textarea>
    <span class="chars"></span>
</label>
<label class="label label_textarea">
    <span class="placeholder">Отзывы клиентов (сканы отзывов необходимо приложить в виде файлов)</span>
    <textarea rows="1" maxlength="15000"></textarea>
    <span class="chars"></span>
</label>
<div class="wrap_add_file">
    <div class="add_file">
        {#
        <p>Внедренные инновации компании “Novator” в 2016 году.PDF <span class="remove_file">(удалить)</span></p>
        <p>Внедренные инновации компании “Novator” в 2016 году.PDF <span class="remove_file">(удалить)</span></p>
        #}
    </div>
    {#<input type="file" hidden="hidden">#}
    {#<button class="btn">Прикрепить файл</button>#}
</div>
