<input name="privacy-policy" type="checkbox" checked>
<span class="label-text">Я даю согласие на обработку моих персональных данных в соответствии с <a href="https://www.b2b-center.ru/process_personal_data_policy.html" target="_blank">Политикой</a></span>
