<form action="/api/user/login" method="post" novalidate>
    <h4 class="tab_title">Вход в личный кабинет</h4>
    <label class="label">
        <input name="email" type="email" placeholder="E-mail">
    </label>
    <label class="label">
        <input name="password" type="password" placeholder="Пароль">
    </label>
    <div class="remember">
        <input name="remember" type="checkbox" hidden="hidden" id="remember">
        <label for="remember">Запомнить меня</label>
    </div>
    <div class="form-message"></div>
    <div class="wrap_btn">
        <div>
            <button type="submit" class="btn--blue">Войти</button>
        </div>
        <div>
            <a data-modal="password-reset-modal" href="javascript:void(0)">Забыли пароль?</a>
        </div>
    </div>
</form>
<div class="registration">
    <p>Для участия в конкурсе вы должны </p>
    <a data-modal="signup-modal" href="javascript:void(0)">зарегистрироваться</a>
</div>