<script>
    window._formSpecs = {{ form_specs_json }};
</script>
<script type="text/template" id="form-template">
    {{ source(partial('modal_form.twig')) }}
</script>
{% for spec in form_specs %}
    <div class="modal modal_window" id="{{ spec.name }}">
        {% include partial('modal_form.twig') with spec %}
    </div>
{% endfor %}
