<!--МОДАЛКИ-->
<!--Вход в личный кабинет-->
<div class="modal" id="login-modal">
    <div class="block">
        <span class="close"></span>
        <form action="" method="post" id="">
            <h4 class="tab_title">Вход в личный кабинет</h4>
            <label class="label">
                <input type="text" placeholder="E-mail">
            </label>
            <label class="label">
                <input type="password" placeholder="Пароль">
            </label>
            <div class="remember">
                <input type="checkbox" hidden="hidden" id="remember">
                <label for="remember">Запомнить меня</label>
            </div>
            <div class="wrap_btn">
                <div>
                    <button class="btn--blue">Войти</button>
                </div>
                <div>
                    <a href="#">Забыли пароль?</a>
                </div>
            </div>
        </form>
        <div class="registration">
            <p>Для участия в конкурсе вы должны </p>
            <a data-modal="signup-modal" href="javascript:void(0)">зарегистрироваться</a>
        </div>
    </div>
</div>
<!--Регистрация участника конкурса-->
<div class="modal" id="signup-modal">
    <div class="block">
        <span class="close"></span>
        <form action="/api/user/signup" method="post" class="modal_form">
            <h4 class="tab_title">Регистрация участника конкурса</h4>
            <label class="label">
                <input name="full-name" type="text" placeholder="ФИО">
            </label>
            <label class="label">
                <input name="company" type="text" placeholder="Название компании">
            </label>
            <label class="label">
                <input name="email" type="text" placeholder="E-mail">
            </label>
            <label class="label">
                <input name="phone" type="text" placeholder="Номер телефона">
            </label>
            <label class="label">
                <input name="password" type="password" placeholder="Пароль">
            </label>
            <label class="label">
                <input name="password-confirmation" type="password" placeholder="Введите пароль еще раз">
            </label>
            <div class="message"></div>
            <div class="wrap_btn">
                <div>
                    <button type="submit" class="btn--blue">Зарегистрироваться</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Напишите нам сообщение-->
<div class="modal" id="some3">
    <div class="block">
        <span class="close"></span>
        <form action="" method="post" id="" class="modal_form">
            <h4 class="tab_title">Напишите нам сообщение</h4>
            <label class="label">
                <input type="text" placeholder="Ваше имя">
            </label>
            <label class="label">
                <input type="text" placeholder="Ваш E-mail">
            </label>
            <label class="label label_textarea">
                <textarea rows="1" maxlength="15000"></textarea>
                <span class="placeholder">Ваше сообщение</span>
                <span class="chars"></span>
            </label>
            <div class="wrap_btn">
                <div>
                    <button class="btn--blue">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Вы уверены, что хотите удалить анкету?-->
<div class="modal" id="some4">
    <div class="block">
        <span class="close"></span>
        <form action="" method="post" id="" class="modal_form">
            <h4 class="tab_title tab_title--modal">Вы уверены,<br>что хотите удалить анкету?</h4>
            <div class="wrap_btn">
                <div>
                    <button class="btn--red_modal">Удалить</button>
                </div>
                <div>
                    <button class="btn--blue">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>
