<a target="_blank" href="https://www.facebook.com/4seasons2013/" class="facebook"><i class="fa fa-facebook"></i></a>
<a target="_blank" href="https://vk.com/fourseasons.domodedovo" class="vk"><i class="fa fa-vk"></i></a>
<a target="_blank" href="https://ok.ru/fourseasons.domodedovo" class="odnoklassniki"><i class="fa fa-odnoklassniki"></i></a>
<a target="_blank" href="https://www.instagram.com/fourseasons.domodedovo/" class="instagram"><i class="fa fa-instagram"></i></a>
